{
    "parser": "babel-eslint",
    "extends": ["airbnb-base", "prettier"],
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "chrome": true
    },
    "rules": {
        "no-bitwise": 0,
        "no-console": 0,
        "prefer-destructuring": 0
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
