*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #666;
    line-height: 1;
}

.container {
    width: 300px;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 30px;
        padding: 0 10px;
        background: #f7f7f7;
        border-bottom: 1px solid #e6e6e6;

        .name,
        .feedback {
            cursor: pointer;
        }
    }

    .config {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 10px 10px 0;
        .item {
            margin-bottom: 10px;
            .key {
                margin-bottom: 5px;
            }
            .value {
                input,
                select {
                    width: 100%;
                    height: 25px;
                    padding: 0 5px;
                    outline: none;
                }
            }
        }
    }

    .debug {
        display: flex;
        flex-direction: column;
        padding: 10px 10px 0;
        height: 100px;
        overflow: auto;
        line-height: 1.4;
        background: #f7f7f7;
        border-top: 1px solid #e6e6e6;

        p {
            position: relative;
            margin: 0 0 5px;
        }
    }

    .footer {
        height: 30px;
        cursor: pointer;
        color: #fff;

        .start {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: #4fc1e9;
        }

        .stop {
            display: none;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: #f6628f;
        }
    }

    &.recording {
        .start {
            display: none;
        }

        .stop {
            display: flex;
        }
    }
}
